@font-face {
  font-family: 'Vazirmatn';
  src: url("../fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url("../fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Vazirmatn', sans-serif;
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: white;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

.logo {
  width: 140px;
}

.video-box {
  margin: 30px auto;
  max-width: 900px;
  border-radius: 20px;
  overflow: hidden;
}

video {
  width: 100%;
}

/* GRID */
.services {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  margin-top: 40px;
}

/* تبلت */
@media (max-width: 1024px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* موبایل */
@media (max-width: 600px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* CARD */
.card {
  border-radius: 20px;
  overflow: hidden;

  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.08);

  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);

  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 60px rgba(0,0,0,0.6);
}

/* IMAGE */
.card-image {
  height: 160px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT */
.card-content {
  padding: 15px;
}

.card-content h3 {
  font-weight: 700;
  font-size: 16px;
}


/* ===== SERVICE PAGE LAYOUT ===== */
/* .service-layout {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  align-items: flex-start;
}

.service-content {
  flex: 1;
  text-align: right;
}

.service-video {
  width: 400px;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.08);

  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.service-video video {
  width: 100%;
  display: block;
} */

/* زیرخدمات */
#subservices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 20px;
}

/* دکمه نهایی */
.final-btn {
  margin-top: 40px;
  padding: 16px;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;

  background: linear-gradient(135deg, #6366f1, #22c55e);
  color: white;
  font-weight: 700;
  font-size: 16px;

  transition: 0.3s;
}

.final-btn:hover {
  transform: scale(1.05);
}

/* موبایل */
@media (max-width: 768px) {
  .service-layout {
    flex-direction: column;
  }

  .service-video {
    width: 100%;
  }

  #subservices {
    grid-template-columns: 1fr;
  }
}

footer {
  margin-top: 60px;
  opacity: 0.5;
}